
@model c3i_fedex.Models.ViewModel  

@using c3i_fedex.Models


@{
    ViewBag.Title = "supervisor";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="/js/sorting.js"></script>
    <script src="@Url.Content(" ~/js/Pagination.js")"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/site-examples.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <script>

        function submitForm() {
            //alert('hi');
            var result = confirm("Are you sure, you want to save the changes?")

            if (result) {
                $("#fooForm").submit();
            } else {
                return false;
            }
           // 
        }
    </script>
    <script >  

    //$(document).ready(function()  
    //{   

        
       
    //    $("#selectid").on("change", function ()
    //    {
    //        var stateId = $('#SelectData').val();
    //        $.ajax(  
    //        {
                
    //            url: '/c3_fedex/supervisor?AgentID=' + stateId,
    //            type: 'GET',  
    //            data: "",  
    //            //contentType: 'application/json; charset=utf-8',  
    //            success: function(data)  
    //            {
    //                alert("error");
    //               // $("#partialDiv").html(data);  
    //            },  
    //            error: function()  
    //            {  
    //                alert("error");  
    //            }  
    //        });  
    //    });  
       // });

        function FillCity() {
            var stateId = $('#SelectData').val();
            $.ajax({
                 url: '/c3_fedex/supervisor',
                type: "GET",
                dataType: "Html",
                data: { SelectData: stateId },
                success: function (SelectData) {
                  // alert("error1");
                   // $("#SelectData").html(""); // clear before appending new list 
                    $.each(cities, function (i, city) {
                       // $("#City").append(
                        // $('<option></option>').val(city.CityId).html(city.CityName));
                        alert("error2");
                    });
                }
            });

            if (stateId) {
                return true;
            } else {
                return false;
            }
        }

     </script>  
    <script>
        function ShowMessage() {
            if($('#txtuserid').val()=='')
            {
                alert("please enter user id")
                return false;
            }
            
            if ($('#newpassword').val() == '' && $('#reenterpassword').val() == '' && $('#oldpassword').val=='') {
                alert("please enter password")
                return false;
            }
            
            // @* reenterpassword*@
            if ($('#newpassword').val() == $('#reenterpassword').val() && $('#newpassword').val() != $('#oldpassword').val()) {
                return true;
            } else {
                alert("password is not match")
                return false;
            }
        }
    </script>
    <style type="text/css">
         .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 5px;
  background: #b3b3b3;
  border-radius: 5px;
  width: 30%;
  position: relative;
  float:right;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
 .overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay2:target {
  visibility: visible;
  opacity: 1;
}

.popup2 {
  margin: 70px auto;
  padding: 5px;
  background: #b3b3b3;
  border-radius: 5px;
  width: 30%;
  position: relative;
  float:right;
  transition: all 5s ease-in-out;
}

.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup2 .close2 {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup2 .close2:hover {
  color: #06D85F;
}
.popup2 .content2 {
  max-height: 30%;
  overflow: auto;
}
.overlay3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay3:target {
  visibility: visible;
  opacity: 1;
}

.popup3 {
  margin: 70px auto;
  padding: 5px;
  background: #b3b3b3;
  border-radius: 5px;
  width: 30%;
  position: relative;
  float:right;
  transition: all 5s ease-in-out;
}

.popup3 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup3 .close3 {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup3 .close3:hover {
  color: #06D85F;
}
.popup3 .content3 {
  max-height: 30%;
  overflow: auto;
}

        html {
            margin: 0;
            padding: 0;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding-left: 5px;
            padding-bottom: 2px;
            padding-top: 2px;
            padding-right: 2px;
        }

        th {
            border: 1px solid #dddddd;
            text-align: center;
            background-color: #d8d8d8;
            padding-bottom: 2px;
            padding-top: 2px;
            padding-left: 5px;
            padding-right: 2px;
        }

        tr:nth-child(even) {
            background-color: #F2F3F4;
        }

        tr:nth-child(odd) {
            background-color: #FFFFFF;
        }

        .oval {
            background: #d8d8d8;
            border-radius: 40px;
            display: flex;
            margin: 10px 40px;
        }

            .oval.active {
                background-color: #ff9800;
            }

        .pg-normal {
            color: #000000;
            font-size: 15px;
            cursor: pointer;
            background: #F7F7FF;
            padding: 2px 4px 2px 4px;
        }

        .pg-selected {
            color: blue;
            font-size: 15px;
            background: #DEDEFF;
            padding: 2px 4px 2px 4px;
        }

        table.yui {
            font-family: arial;
            border-collapse: collapse;
            border: solid 3px #7f7f7f;
            font-size: small;
        }

            table.yui td {
                padding: 5px;
                border-right: solid 1px #7f7f7f;
            }

            table.yui .even {
                background-color: blue;
            }

            table.yui .odd {
                background-color: blue;
            }

            table.yui th {
                border: 1px solid #7f7f7f;
                padding: 5px;
                height: auto;
                background: #D0B389;
            }

                table.yui th a {
                    text-decoration: none;
                    text-align: center;
                    padding-right: 20px;
                    font-weight: bold;
                    white-space: nowrap;
                }

            table.yui tfoot td {
                border-top: 1px solid #7f7f7f;
                background-color: blue;
            }

            table.yui thead td {
                vertical-align: middle;
                background-color: blue;
                border: none;
            }

            table.yui thead .tableHeader {
                font-size: larger;
                font-weight: bold;
            }

            table.yui thead .filter {
                text-align: right;
            }

            table.yui tfoot {
                background-color: blue;
                text-align: center;
            }

            table.yui .tablesorterPager {
                padding: 10px 0 10px 0;
            }

                table.yui .tablesorterPager span {
                    padding: 0 5px 0 5px;
                }

                table.yui .tablesorterPager input.prev {
                    width: auto;
                    margin-right: 10px;
                }

                table.yui .tablesorterPager input.next {
                    width: auto;
                    margin-left: 10px;
                }

            table.yui .pagedisplay {
                font-size: 10pt;
                width: 30px;
                border: 0px;
                background-color: blue;
                text-align: center;
                vertical-align: top;
            }

        .btn-search {
            background-color: #ff9800;
        }

        .fa-search {
            color: white;
        }

        .nav-link {
            /*border: 1px solid #d8d8d8;*/
            border-radius: 10px;
            /*margin: 2px 5px;*/
        }

        .nav-pills .nav-link.active,
        /*.nav-pills .nav-item.show .nav-link{background-color:#ff9800;border: 1px solid #d8d8d8;border-radius: 40px;color:white;}*/
        .nav-pills .nav-item.show .nav-link {
            border-radius: 10px;
            color: white;
            background-color:#ff9800;
        }
        .buttui{
            color:white;
            background-color:#ff9800;
            border-radius: 6px;
            margin-left:50px;
}
   .column {
  float: left;
  width: 70%;
  padding: 2px;

}
.column-right {
  float: left;
  width: 30%;
  padding: 5px;

}
input[type=text],input[type=password],input[type=email] {
  
    width: 100%;
    
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
    </style>
    <script>
        
        function FillCity() {
            var stateId = $('#filterdata1').val();
            //success:function (stateId) {
            window.location.href = "/c3_fedex/supervisor?FilterItems=" + stateId;
        }
    </script>
    <script>
        function myFunction() {
            var stateId = $('#txtSearch').val();
            $.ajax({
                url: '/c3_fedex/supervisoragent',
                type: "Post",
                dataType: "Html",
                data: { FilterItems: stateId },

                success: function (FilterItems) {
                    //alert("error1");
                    $("#Reassign").html("");               // clear before appending new list 
                    $.each(indexmodel, function (i, city) {
                        $("#Reassign").load();
                        $("#Reassign").append(
                      $('<option></option>').val(city.CityId).html(city.CityName));
                        // alert("error2");
                    });
                }
            });
        }
    </script>
    <script>

        tblcaseid.oninput = function () {
            var tblcaseid = document.querySelectorAll('tblcaseid').innerHTML;
  };


        function FillBilling(tblcaseid) {
           // if (f.billingtoo.checked == true) {

           // var result = confirm("Are you sure, you want to  changes?")
            forEach(item in intblcaseid )
            //if (result)
            //{
            aler(item)
            tblcaseidarray.value = item.value;

               // return true;
            //}// else {
              //  return false;
            //}

            }

//function sync()
//{
//    var n1 = document.getElementById('Deadline');
//  var n2 = document.getElementById('txtdeadline');
//  n2.value = n1.value;
//}
    </script>
    <script type="text/javascript">
            function Pager(tableName, itemsPerPage) {
                this.tableName = tableName;
                this.itemsPerPage = itemsPerPage;
                this.currentPage = 1;
                this.pages = 0;
                this.inited = false;
                this.showRecords = function (from, to) {
                    var rows = document.getElementById(tableName).rows;
                    for (var i = 1; i < rows.length; i++) {
                        if (i < from || i > to)
                            rows[i].style.display = 'none';
                        else
                            rows[i].style.display = '';
                    }
                }

                this.showPage = function (pageNumber) {
                    if (!this.inited) {
                        alert("not inited");
                        return;
                    }

                    var oldPageAnchor = document.getElementById('pg' + this.currentPage);
                    oldPageAnchor.className = 'pg-normal';
                    this.currentPage = pageNumber;
                    var newPageAnchor = document.getElementById('pg' + this.currentPage);
                    newPageAnchor.className = 'pg-selected';
                    var from = (pageNumber - 1) * itemsPerPage + 1;
                    var to = from + itemsPerPage - 1;
                    this.showRecords(from, to);
                }

                this.prev = function () {
                    if (this.currentPage > 1)
                        this.showPage(this.currentPage - 1);
                }

                this.next = function () {
                    if (this.currentPage < this.pages) {
                        this.showPage(this.currentPage + 1);
                    }
                }

                this.init = function () {
                    var rows = document.getElementById(tableName).rows;
                    var records = (rows.length - 1);
                    this.pages = Math.ceil(records / itemsPerPage);
                    this.inited = true;
                }

                this.showPageNav = function (pagerName, positionId) {
                    if (!this.inited) {
                        alert("not inited");
                        return;
                    }

                    var element = document.getElementById(positionId);
                    var pagerHtml = '<span onclick="' + pagerName + '.prev();" class="pg-normal"> « Prev </span> ';
                    for (var page = 1; page <= this.pages; page++)
                        pagerHtml += '<span id="pg' + page + '" class="pg-normal" onclick="' + pagerName + '.showPage(' + page + ');">' + page + '</span> ';
                    pagerHtml += '<span onclick="' + pagerName + '.next();" class="pg-normal"> Next »</span>';
                    element.innerHTML = pagerHtml;
                }
            }
    </script>
    @*<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/dataTables.bootstrap.min.css">*@
    <style type="text/css" class="init">
    </style>@*D:\workspace\c3i_fedex\c3i_fedex\css\bootstrap.css*@
    <!--<script type="text/javascript" src="/media/js/site.js?_=5e8f232afab336abc1a1b65046a73460"></script>-->
    <!--<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fstyling%2Fbootstrap.html" async></script>-->
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#example').dataTable({
                "pageLength": 5,
                "lengthChange": false,
                "searching": false
            });

} );

    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#DataTable').DataTable();
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked")) {
                    $(".chkCheckBoxId").prop("checked", true)
                }
                else {
                    $(".chkCheckBoxId").prop("checked", false)
                }
            });
        });
    </script>  
</head>
<body>
    <header class="header-container py-3">
        <div class="breadcrumbs col-12 py-2">
            <div class="row d-flex align-items-center justify-content-center justify-content-md-between text-center text-md-left">
                <div class="col-md-6 mb-2">
                    <a class="logo" href="supervisor"><img src="/images/logo.png" alt="C3i" width="80" /></a>
                </div><!-- logo -->
                <div class="col-md-6 text-md-right mb-2">
                    <div class="dropdown d-inline-block">
                        <a href="javascript:void(0)" class="" data-toggle="dropdown">
                            <img src="~/images/mark.png" alt="Mark Anthony" width="46" height="46" class="rounded-circle" /><span class="ml-2 welcome-message">@ViewData["userName"].ToString()</span>
                        </a>
                        @*<input type="submit"  name="logout" class=" btn btn-secondary" value=" logout" />*@
                        @*<input type="submit" name="btnsave" value="logout" formaction=@Url.Action("C3_Fedex//logout") formmethod="Get" class="btn btn-secondary" />*@
                        <input type="button" value="logout" class="btn btn-secondary"
                               onclick="location.href='@Url.Action("logout", "C3_Fedex")'" />
                        @*<button type="button" class="btn btn-default btn-sm" formaction="C3_Fedex/logot" onclick="location.href='<%: Url.Action("Action", "Controller") %>'" >
                            <span class="ml-2 welcome-message">logout</span></button>*@
                        @*<img src="~/images/mark.png" alt="Mark Anthony" width="46" height="46" class="rounded-circle" /><span class="ml-2 welcome-message">Mark Anthony, 99999</span>*@

                        <div class="dropdown-menu col-12">
                            <a class="dropdown-item1" href="#">My Account</a>
                            <a class="dropdown-item1" href="#">Logout</a>
                        </div>
                    </div><!-- drop down account-->
                </div>
            </div>
        </div>
    </header><!--.header-container-->
    <section class="content-container bglight-gray">
        <div class="main-content d-flex flex-wrap">
            <div class="col-12 py-3 right-section">
                <h1 class="heading"><strong> </strong></h1>
                <div class="tab-section">
                    <ul class="nav nav-pills mb-4">
                        <li class="oval">
                            @if (Model.allactive == "ALL" || Model.allactive == null)
                            {
                                <a class="nav-link active" href="supervisor" data-toggle="tab" role="tab" aria-controls="all" aria-selected="true">All Cases(@Model.All)</a>
                            }
                            else
                            {
                                <a class="nav-link" href="supervisor" data-toggle="tab" role="tab" aria-controls="all" aria-selected="true">All Cases(@Model.All)</a>
                            }
                        </li>
                        <li class="oval">
                            @if (Model.newactive == "New")
                            {
                                <a class="nav-link active" href="supervisor?folder=New" data-toggle="tab" role="tab" aria-controls="pane1" aria-selected="true">Newly Assigned(@Model.Newly_Assigned)</a>
                            }
                            else
                            {
                                <a class="nav-link " href="supervisor?folder=New" data-toggle="tab" role="tab" aria-controls="pane1" aria-selected="true">Newly Assigned(@Model.Newly_Assigned)</a>

                            }


                        </li>
                        <li class="oval">
                            @if (Model.wipactive == "WIP")
                            {

                                <a class="nav-link active " href="supervisor?folder=WIP" data-toggle="tab" role="tab" aria-controls="pane2" aria-selected="true">WIP(@Model.WIP)</a>
                            }
                            else
                            {
                                <a class="nav-link" href="supervisor?folder=WIP" data-toggle="tab" role="tab" aria-controls="pane2" aria-selected="true">WIP(@Model.WIP)</a>
                            }
                        </li>
                        <li class="oval">
                            @if (Model.utlactive == "UTL")
                            {

                                <a class="nav-link active " href="supervisor?folder=UTL" data-toggle="tab" role="tab" aria-controls="pane3" aria-selected="true">UTL(@Model.UTL)</a>
                            }
                            else
                            {
                                <a class="nav-link" href="supervisor?folder=UTL" data-toggle="tab" role="tab" aria-controls="pane3" aria-selected="true">UTL(@Model.UTL)</a>
                            }
                        </li>
                        <li class="oval">
                            @if (Model.undersupervisor == "Undersupervisor")
                            {
                                <a class="nav-link active" href="supervisor?folder=Undersupervisor" data-toggle="tab" role="tab" aria-controls="pane3" aria-selected="true">Under Supervisor(@Model.supervisor)</a>
                            }
                            else
                            {
                                <a class="nav-link" href="supervisor?folder=Undersupervisor" data-toggle="tab" role="tab" aria-controls="pane3" aria-selected="true">Under Supervisor(@Model.supervisor)</a>
                            }
                        </li>
                        @*<li class="oval">
                            @if (Model.blockedaccounts == "Blockedaccounts")
                            {
                                <a class="nav-link active" href="supervisor?folder=Blockedaccounts" data-toggle="tab" role="tab" aria-controls="pane3" aria-selected="true">Blocked Accounts(@Model.accounts)</a>
                            }
                            else
                            {
                                <a class="nav-link" href="supervisor?folder=Blockedaccounts" data-toggle="tab" role="tab" aria-controls="pane3" aria-selected="true">Blocked Accounts(@Model.accounts)</a>
                            }
                        </li>
                        <li class="oval">
                            @if (Model.hours24 == "24hours")
                            {
                                <a class="nav-link active" href="supervisor?folder=24hours" data-toggle="tab" role="tab" aria-controls="pane3" aria-selected="true">24 Hours(@Model.hours)</a>
                            }
                            else
                            {
                                <a class="nav-link" href="supervisor?folder=24hours" data-toggle="tab" role="tab" aria-controls="pane3" aria-selected="true">24 Hours(@Model.hours)</a>
                            }
                        </li>*@



                    </ul><!-- nav-pills-->
                    @using (Html.BeginForm("supervisor", "c3_fedex",FormMethod.Post,new { id = "fooForm" }))
                    {
                        <div class="search d-flex flex-wrap">
                            <div class="col-2 mb-3 pl-0">
                                <div class="filter-sec ">
                                    @if (ViewBag.agentiddetails != null)
                                    {

                                        @Html.DropDownList("selectagent", ViewBag.agentiddetails as SelectList)//, "-Search agent-",
                                    }


                                    @Html.DropDownListFor(m => m.filterdata1, new SelectList(Model.filterdata1), "-Search Options-",
                     new { @class = "form-control", @onchange = "FillCity()" })
                                </div><!--filter-sec-->
                            </div>
                            <div class="input-group col-4 mb-3 pr-0">

                                @Html.DropDownListFor(m => m.SelectData, new SelectList(Enum.GetValues(typeof(SelectId2))), "-Search Options-",
                         new { @class = "form-control" })


                                @if (Request.QueryString["folder"] != null)
                                {
                                    <input type="hidden" name="folder" value="@Request.QueryString["folder"]">
                                }
                                <input type="text" class="form-control" placeholder="Search" name="txtSearch" />
                                <div class="input-group-append">

                                    <button type="submit" value="Search" class="btn btn-search" formaction="supervisor" formmethod="get"><i class="fas fa-search"></i></button>
                                </div>
                              
                            </div>
                            <div><a class="button btn btn-secondary buttui" href="#popup1" id="FilterItems" onclick="return myFunction();">Reassign</a></div>
                            <div><a class="button btn btn-secondary buttui" href="#popup2" id="FilterItems" onclick="">Update BOT Password</a></div>
                            <div><a class="button btn btn-secondary buttui" href="#popup3" id="FilterItems" onclick="">Update Agent List</a></div>
                        </div><!--search onclick="return ShowMessage();"-->


                        <div class="table-responsive">

                            <table id="tablepaging" class="sortable" style="table-layout:fixed;width: 100%;">

                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Case ID</th>
                                        <th>Tracking #</th>
                                        <th>Title</th>
                                        <th>Alternate Title</th>
                                        <th>Commitment Date</th>
                                        <th>Follow Up Data and Time</th>
                                        <th>Shipper's Local Time</th>
                                        <th>Attempts Made</th>
                                        <th>Assigned To</th>
                                    </tr>
                                </thead>
                                <tbody id="tblbody">
                                    @if (Model.indexmodel != null)
                                    {
                                        foreach (var item in @Model.indexmodel.ToList())
                                        {
                                        <tr>
                                            @*<td text-align="center"><input type="radio" name="rad" value="" checked></td> <input type="checkbox" name="ID" value="@employee.ID" class="custom-checkbox chkCheckBoxId" /></td> *@
                                            @*<td> <input type="checkbox" name="tblcaseid" id=" chck" value="@item.case_id" /></td>*@
                                            <td> <input type="checkbox" name="tblcaseid" id="chck" value="@item.case_id" /></td>
                                            @*<td><input type="checkbox" name="tblcaseid" value="@item.case_id" class="custom-checkbox chkCheckBoxId" /></td>*@
                                            <td> @Html.ActionLink(@item.case_id, "caseview", new { @item.case_id })</td>
                                            @*<td>@item.case_id  </td>*@
                                            <td>@item.tracking  </td>
                                            <td>@item.title  </td>
                                            <td>@item.alternate_title  </td>
                                            <td>@item.commitment_date.ToString("MM/dd/yyyy")   </td>
                                            <td>@item.follow_up_date </td>
                                            <td>@item.shippers_local_time.ToString("hh:mm tt") </td>
                                            <td text-align="center">@item.attempts_made </td>
                                            <td>@item.shippername </td>

                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div id="pageNavPosition" style="padding-top: 20px" align="center">
                            </div>
                            @*<div><button type="submit" class="btn btn-secondary buttui">REASSIGN</button></div>*@

                            <script type="text/javascript">
                                var pager = new Pager('tablepaging', 10);
                                pager.init();
                                pager.showPageNav('pager', 'pageNavPosition');
                                pager.showPage(1);
                            </script>
                        </div><!--all-->
                        <div id="popup2" class="overlay2">
                            <div class="popup2">
                                <span>&nbsp;&nbsp;<a class="close2" href="#">&times;</a></span>
                                <div class="content2">
                                    <form  id="">
                                        <table style="table-layout:fixed;width: 100%;">

                                            <thead>
                                             
                                                <tr>
                                                    <th colspan="2">Update BOT Password</th>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody name="">
                                                <tr>
                                                    <td>
                                                        User Id
                                                    </td>
                                                    <td>
                                                        <input type="text"  name="txtuserid" id="txtuserid" />
                                                    </td>
                                                </tr>
                                             <tr>
                                                <td>Update Old Password
                                                 </td>
                                                <td><input type="password" name="oldpassword" id="oldpassword" />
                                                 </td>
                                             </tr>
                                                <tr>
                                                    <td>
                                                        Enter New Password
                                                    </td>
                                                    <td>
                                                        <input type="password" name="newpassword" id="newpassword" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Re-enter New Password
                                                       
                                                    </td>
                                                    <td>
                                                        <input type="password" name="reenterpassword" id="reenterpassword" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center">
                                                       <input type="reset" name="" label="Clear" class="button btn btn-secondary buttui"/>
                                                    </td>
                                                    <td style="text-align:center">
                                                        @*<button name="" id="" class="button btn btn-secondary buttui">Update</button>*@
                                                        <input type="submit" name="btnupdatepassword"id="btnupdatepassword" class="button btn btn-secondary buttui" value="Update" onclick="return ShowMessage()"/>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </form>

                                </div>
                            </div>

                        </div>
                        <div id="popup3" class="overlay2">
                            <div class="popup3">
                                <span>&nbsp;&nbsp;<a class="close3" href="#">&times;</a></span>
                               
                                <div class="content3">
                                    <form id="">
                                        <table style="table-layout:fixed;width: 100%;">

                                            <thead>

                                                <tr>
                                                   
                                                    <th colspan="2">Update Agent List</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody name="">
                                                <col width="10px" />
                                                <col width="20px" />
                                                <tr>
                                                    <td>
                                                        Name
                                                    </td>
                                                    <td>
                                                        <input type="text" name="agentname" id="agentname" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        FedEx ID
                                                    </td>
                                                    <td>
                                                        <input type="text" name="agentfedexid" id="agentfedexid" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    @{
                                                        string str1 = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$";
                                                    }
                                                    <td>
                                                        Email ID
                                                    </td>
                                                    <td>
                                                        <input type="email" name="agentmailid" id="agentmailid" pattern="@str1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center">
                                                        <input type="reset" name="" label="Clear" class="btn btn-secondary buttui" />
                                                    </td>
                                                    <td style="text-align:center">
                                                        <input type="submit" class="btn btn-secondary buttui" name="btnupdate" id="btnupdate" value="Update"/>
                                                        @*<button name="" id="" class="btn btn-secondary buttui">Update</button>*@
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </form>

                                </div>
                            </div>

                        </div>
                        <div id="popup1" class="overlay">
                            <div class="popup">
                                <span>&nbsp;&nbsp;<a class="close" href="#">&times;</a></span>
                                <div class="content">
                                    <form action="/c3_fedex/supervisor" method="post" id="fooForm">
                                        <table style="table-layout:fixed;width: 100%;">

                                            <thead>
                                                <tr>
                                                    <th colspan="2">Reassign Case To:</th>
                                                </tr>
                                                <tr>
                                                    <th>Agent ID</th>
                                                    <th>Agent Name</th>
                                                </tr>
                                            </thead>
                                            <tbody name="Reassign">
                                                @foreach (var item in Model.agentDetails.ToList())
                                                {
                                                    <tr>
                                                        @*<td> @Html.ActionLink(@item.fedex_id, "supervisor", new { @class=@item.fedex_id,@id= "submit_link" })</td>*@
                                                        <td><a href="javascript:submitForm()" id="submit_link"name=@item.fedex_id >@item.fedex_id </a></td>
                                                        <td>@item.name </td>
                                                    </tr>
                                                }

                                                <input type="hidden" name="tblcaseidarray[]" id="tblcaseidarray" value="raja,sariputi,raghu" />
                                                @*<tr>

                     <td>c5005984</td>
                    <td>Arnov Kumar Ghosh</td>
                </tr>
                <tr>
                    <td>c5003222</td>
                    <td>Ankit Chopra</td>
                </tr>
                <tr>
                    <td>c5003211</td>
                    <td>Sumit Kumar Ghosh</td>
                </tr>*@
                                            </tbody>
                                        </table>

                                    </form>
                                   
                                </div>
                            </div>

</div>
                            }
                        </div><!--tab-section-->
                    </div><!--right-section-->
                    </div><!-- main-content-->
    </section><!--.content-container-->
    <!--js files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
            jQuery('.toggle').on('click', function () {
                jQuery('.fixed-sidebar').toggleClass('close')
                jQuery('.main-container').toggleClass('full').toggleClass('col-9')
            })

    </script>
</body>
</html>










